workflows/issue-creator-workflow.json
{
  "name": "Issue Creator from Notes",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-600, 300],
      "id": "b2c3d4e5-0001-4000-8000-000000000001",
      "name": "Start Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "planning-notes-field",
              "name": "planningNotes",
              "value": "We need to fix the accessibility issues in the navigation component — keyboard navigation is broken for screen readers. Also, the button component needs a new `size` prop (sm, md, lg) as part of the design system update. The tooltip component should auto-dismiss after 5 seconds. We should add comprehensive unit tests for the form components to improve test coverage. The storybook documentation is outdated and needs to be updated to reflect the latest API changes for input, select, and checkbox components.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-360, 300],
      "id": "b2c3d4e5-0002-4000-8000-000000000002",
      "name": "Planning Notes Input"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a software engineering manager creating GitHub issues from sprint planning notes.\n\nPlanning Notes:\n{{ $json.planningNotes }}\n\nExtract every distinct, actionable task from the notes and create a GitHub issue for each one.\n\nFor each issue produce:\n- title: concise, imperative sentence (e.g. \"Fix keyboard navigation in nav component\")\n- body: well-structured Markdown including:\n  - ## Summary (what the issue is)\n  - ## Context (why it matters)\n  - ## Acceptance Criteria (bullet list of what done looks like)\n- labels: array of relevant labels from: bug, enhancement, documentation, testing, accessibility, design-system, refactor\n- assignee: null (leave unassigned)\n\nRespond ONLY with a valid JSON array of issue objects. No markdown code fences, no extra text. Example format:\n[\n  {\n    \"title\": \"Fix keyboard navigation in nav component\",\n    \"body\": \"## Summary\\n...\",\n    \"labels\": [\"bug\", \"accessibility\"],\n    \"assignee\": null\n  }\n]",
        "options": {
          "systemMessage": "You are an issue creation assistant. You only output valid JSON arrays. Never include markdown code blocks, backticks, or any text outside the JSON array."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [-120, 300],
      "id": "b2c3d4e5-0003-4000-8000-000000000003",
      "name": "AI: Parse Notes into Issues"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gemini-3-pro-preview",
          "mode": "list",
          "cachedResultName": "gemini-3-pro-preview"
        },
        "options": {}
      },
      "type": "CUSTOM.lmChatTrimbleGateway",
      "typeVersion": 1,
      "position": [-120, 520],
      "id": "b2c3d4e5-0004-4000-8000-000000000004",
      "name": "Trimble Gateway (Issue Parser)",
      "credentials": {
        "trimbleModelGatewayOAuth2Api": {
          "id": "6sC2H2Re3rOpqZn1",
          "name": "Trimble Identity account 412"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract and validate the issue array from the AI agent output\nconst item = $input.first();\nconst raw = item.json.output || item.json.text || item.json.message || '';\n\nlet issues = [];\n\ntry {\n  // Strip markdown code fences if AI wrapped the JSON\n  const cleaned = raw\n    .replace(/```json?\\s*/g, '')\n    .replace(/```\\s*/g, '')\n    .trim();\n  \n  const parsed = JSON.parse(cleaned);\n  \n  if (Array.isArray(parsed)) {\n    issues = parsed;\n  } else if (parsed.issues && Array.isArray(parsed.issues)) {\n    issues = parsed.issues;\n  } else {\n    throw new Error('Unexpected JSON structure — expected an array');\n  }\n} catch (e) {\n  throw new Error(`Failed to parse AI output into issues: ${e.message}\\n\\nRaw output: ${raw.substring(0, 500)}`);\n}\n\n// Validate and normalise each issue\nconst validated = issues.map((issue, i) => {\n  if (!issue.title || typeof issue.title !== 'string') {\n    throw new Error(`Issue at index ${i} is missing a valid title`);\n  }\n  return {\n    title: issue.title.trim(),\n    body: issue.body || '',\n    labels: Array.isArray(issue.labels) ? issue.labels : [],\n    assignee: issue.assignee || null\n  };\n});\n\n// Return one item per issue so the loop processes them individually\nreturn validated.map(issue => ({ json: issue }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [120, 300],
      "id": "b2c3d4e5-0005-4000-8000-000000000005",
      "name": "Extract & Validate Issues"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [360, 300],
      "id": "b2c3d4e5-0006-4000-8000-000000000006",
      "name": "Loop Over Issues"
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "create",
        "owner": {
          "__rl": true,
          "value": "ElishaSamPeterPrabhu",
          "mode": "list",
          "cachedResultName": "ElishaSamPeterPrabhu"
        },
        "repository": {
          "__rl": true,
          "value": "modus-wc-2.0",
          "mode": "list",
          "cachedResultName": "modus-wc-2.0",
          "cachedResultUrl": "https://github.com/ElishaSamPeterPrabhu/modus-wc-2.0"
        },
        "title": "={{ $json.title }}",
        "body": "={{ $json.body }}",
        "labels": {
          "labels": "={{ $json.labels }}"
        },
        "assignees": {
          "assignees": "={{ $json.assignee ? [$json.assignee] : [] }}"
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [600, 200],
      "id": "b2c3d4e5-0007-4000-8000-000000000007",
      "name": "Create GitHub Issue",
      "credentials": {
        "githubApi": {
          "id": "mHISQCA9z7yFe6Cy",
          "name": "GitHub account 70"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// After all issues are created, produce a summary\n// This node runs after the loop completes (connected to loop's 'done' output)\nconst items = $input.all();\n\nconst created = items.map(item => ({\n  number: item.json.number,\n  title: item.json.title,\n  url: item.json.html_url,\n  state: item.json.state\n}));\n\nconsole.log(`Created ${created.length} GitHub issues.`);\n\nreturn [{ json: { createdIssues: created, count: created.length } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 300],
      "id": "b2c3d4e5-0008-4000-8000-000000000008",
      "name": "Summary"
    }
  ],
  "pinData": {},
  "connections": {
    "Start Workflow": {
      "main": [
        [
          {
            "node": "Planning Notes Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Planning Notes Input": {
      "main": [
        [
          {
            "node": "AI: Parse Notes into Issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Parse Notes into Issues": {
      "main": [
        [
          {
            "node": "Extract & Validate Issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trimble Gateway (Issue Parser)": {
      "ai_languageModel": [
        [
          {
            "node": "AI: Parse Notes into Issues",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract & Validate Issues": {
      "main": [
        [
          {
            "node": "Loop Over Issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Issues": {
      "main": [
        [
          {
            "node": "Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create GitHub Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create GitHub Issue": {
      "main": [
        [
          {
            "node": "Loop Over Issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "issue-creator-v1-0001",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9864951ea4472b9d0ea716c66bb2527efb446aa6309ab9f74077ab1db432402b"
  },
  "id": "IssueCreatorWorkflow0001",
  "tags": ["issues", "github", "ai", "planning"]
}
