workflows/issue-creator-workflow.json
{
  "name": "Issue Creator from Notes",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-600, 300],
      "id": "b2c3d4e5-0001-4000-8000-000000000001",
      "name": "Start Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "planning-notes-field",
              "name": "planningNotes",
              "value": "We need to fix the accessibility issues in the navigation component — keyboard navigation is broken for screen readers. Also, the button component needs a new `size` prop (sm, md, lg) as part of the design system update. The tooltip component should auto-dismiss after 5 seconds. We should add comprehensive unit tests for the form components to improve test coverage. The storybook documentation is outdated and needs to be updated to reflect the latest API changes for input, select, and checkbox components.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-360, 300],
      "id": "b2c3d4e5-0002-4000-8000-000000000002",
      "name": "Planning Notes Input"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a software engineering manager creating GitHub issues from sprint planning notes for the Modus Web Components repository.\n\nPlanning Notes:\n{{ $json.planningNotes }}\n\nExtract every distinct, actionable task and create a GitHub issue for each one.\n\nFirst, classify each issue as one of:\n- \"bug\" — something is broken or not working as expected\n- \"feature\" — a new feature or enhancement request\n- \"task\" — a general task (docs, testing, refactor, etc.)\n\nThen produce the body in the correct format for its type:\n\nFor BUG issues, the body must follow this exact markdown structure:\n### Prerequisites\n- [x] I have searched for duplicate or closed issues\n- [x] I have read the contributing guidelines\n\n### Describe the issue\n<clear description of the bug and expected behaviour>\n\n### Reduced test cases\n<steps to reproduce or N/A>\n\n### What operating system(s) are you seeing the problem on?\n<e.g. macOS, Windows or N/A>\n\n### What browser(s) are you seeing the problem on?\n<e.g. Chrome, Safari or N/A>\n\n### What is the issue regarding?\n@trimble-oss/modus-wc\n\n### Priority\n<High / Medium / Low>\n\n### What product/project are you using Modus Web Components for?\nModus\n\n### What is your team/division name?\nModus\n\n### Are you willing to contribute?\nNone\n\n### Are you using Modus Web Components in production?\n_No response_\n\nFor FEATURE issues, the body must follow this exact markdown structure:\n### Prerequisites\n- [x] I have searched for duplicate or closed feature requests\n- [x] I have read the Modus style guidelines\n\n### Proposal\n<detailed description of the feature>\n\n### Motivation and context\n<why this is needed>\n\n### What is the issue regarding?\n@trimble-oss/modus-wc\n\n### Priority\n<High / Medium / Low>\n\n### What product/project are you using Modus Components for?\nModus\n\n### What is your team/division name?\nModus\n\n### Are you willing to contribute?\nNone\n\n### Are you using Modus Web Components in production?\n_No response_\n\nFor TASK issues, use this structure:\n### Summary\n<what needs to be done>\n\n### Context\n<why it matters>\n\n### Acceptance Criteria\n- <bullet list of what done looks like>\n\n### Priority\n<High / Medium / Low>\n\nFor labels, use these based on type:\n- bug / bugfix → [\"bug\"] — triggers PATCH bump\n- feature / new functionality → [\"enhancement\"] — triggers MINOR bump\n- new component or new event → [\"new-feature\"] — triggers MINOR bump\n- breaking change (removed prop, renamed event, changed prop type) → [\"breaking-change\"] — triggers MAJOR bump\n- docs task → [\"documentation\", \"skip-changelog\"]\n- testing task → [\"testing\", \"skip-changelog\"]\n- refactor / internal task → [\"refactor\", \"skip-changelog\"]\n- accessibility fix → [\"bug\", \"accessibility\"]\n- design system change → [\"enhancement\", \"design-system\"]\n\nRespond ONLY with a valid JSON array. No markdown fences, no extra text:\n[\n  {\n    \"type\": \"bug|feature|task\",\n    \"title\": \"concise imperative title\",\n    \"body\": \"full markdown body following the correct template\",\n    \"labels\": [\"label1\"],\n    \"assignee\": null\n  }\n]",
        "options": {
          "systemMessage": "You are an issue creation assistant for the Modus Web Components repo. Classify each issue as bug, feature, or task and produce the body using the correct GitHub issue template structure. Output only a valid JSON array, no markdown fences, no extra text."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [-120, 300],
      "id": "b2c3d4e5-0003-4000-8000-000000000003",
      "name": "AI: Parse Notes into Issues"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gemini-3-pro-preview",
          "mode": "list",
          "cachedResultName": "gemini-3-pro-preview"
        },
        "options": {}
      },
      "type": "CUSTOM.lmChatTrimbleGateway",
      "typeVersion": 1,
      "position": [-120, 520],
      "id": "b2c3d4e5-0004-4000-8000-000000000004",
      "name": "Trimble Gateway (Issue Parser)",
      "credentials": {
        "trimbleModelGatewayOAuth2Api": {
          "id": "6sC2H2Re3rOpqZn1",
          "name": "Trimble Identity account 412"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst raw = item.json.output || item.json.text || item.json.message || '';\n\nlet issues = [];\n\ntry {\n  const cleaned = raw\n    .replace(/```json?\\s*/g, '')\n    .replace(/```\\s*/g, '')\n    .trim();\n  \n  const parsed = JSON.parse(cleaned);\n  \n  if (Array.isArray(parsed)) {\n    issues = parsed;\n  } else if (parsed.issues && Array.isArray(parsed.issues)) {\n    issues = parsed.issues;\n  } else {\n    throw new Error('Unexpected JSON structure — expected an array');\n  }\n} catch (e) {\n  throw new Error(`Failed to parse AI output into issues: ${e.message}\\n\\nRaw output: ${raw.substring(0, 500)}`);\n}\n\nconst validated = issues.map((issue, i) => {\n  if (!issue.title || typeof issue.title !== 'string') {\n    throw new Error(`Issue at index ${i} is missing a valid title`);\n  }\n  // Normalise labels — handle string, comma-separated string, or array\n  let labels = issue.labels || [];\n  if (typeof labels === 'string') {\n    labels = labels.split(',').map(l => l.trim()).filter(Boolean);\n  }\n  return {\n    title: issue.title.trim(),\n    body: issue.body || '',\n    labels,\n    assignee: issue.assignee || null\n  };\n});\n\nreturn validated.map(issue => ({ json: issue }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [120, 300],
      "id": "b2c3d4e5-0005-4000-8000-000000000005",
      "name": "Extract & Validate Issues"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [360, 300],
      "id": "b2c3d4e5-0006-4000-8000-000000000006",
      "name": "Loop Over Issues"
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "create",
        "owner": {
          "__rl": true,
          "value": "ElishaSamPeterPrabhu",
          "mode": "list",
          "cachedResultName": "ElishaSamPeterPrabhu"
        },
        "repository": {
          "__rl": true,
          "value": "modus-wc-2.0",
          "mode": "list",
          "cachedResultName": "modus-wc-2.0",
          "cachedResultUrl": "https://github.com/ElishaSamPeterPrabhu/modus-wc-2.0"
        },
        "title": "={{ $json.title }}",
        "body": "={{ $json.body }}",
        "labels": {
          "labels": "={{ $json.labels.join(',') }}"
        },
        "assignees": {
          "assignees": "={{ $json.assignee || '' }}"
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [600, 200],
      "id": "b2c3d4e5-0007-4000-8000-000000000007",
      "name": "Create GitHub Issue",
      "credentials": {
        "githubApi": {
          "id": "mHISQCA9z7yFe6Cy",
          "name": "GitHub account 70"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// After all issues are created, produce a summary\n// This node runs after the loop completes (connected to loop's 'done' output)\nconst items = $input.all();\n\nconst created = items.map(item => ({\n  number: item.json.number,\n  title: item.json.title,\n  url: item.json.html_url,\n  state: item.json.state\n}));\n\nconsole.log(`Created ${created.length} GitHub issues.`);\n\nreturn [{ json: { createdIssues: created, count: created.length } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 300],
      "id": "b2c3d4e5-0008-4000-8000-000000000008",
      "name": "Summary"
    }
  ],
  "pinData": {},
  "connections": {
    "Start Workflow": {
      "main": [
        [
          {
            "node": "Planning Notes Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Planning Notes Input": {
      "main": [
        [
          {
            "node": "AI: Parse Notes into Issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Parse Notes into Issues": {
      "main": [
        [
          {
            "node": "Extract & Validate Issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trimble Gateway (Issue Parser)": {
      "ai_languageModel": [
        [
          {
            "node": "AI: Parse Notes into Issues",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract & Validate Issues": {
      "main": [
        [
          {
            "node": "Loop Over Issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Issues": {
      "main": [
        [
          {
            "node": "Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create GitHub Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create GitHub Issue": {
      "main": [
        [
          {
            "node": "Loop Over Issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "issue-creator-v1-0001",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9864951ea4472b9d0ea716c66bb2527efb446aa6309ab9f74077ab1db432402b"
  },
  "id": "IssueCreatorWorkflow0001",
  "tags": ["issues", "github", "ai", "planning"]
}
