workflows/sprint-planning-workflow.json
{
  "name": "Sprint Planning",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-1000, 300],
      "id": "node-001",
      "name": "Start Workflow"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/trimble-oss/modus-wc-2.0/issues",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "state", "value": "open" },
            { "name": "per_page", "value": "100" },
            { "name": "page", "value": "1" }
          ]
        },
        "options": {
          "splitIntoItems": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-760, 300],
      "id": "node-002",
      "name": "Get All Open Issues",
      "credentials": {
        "githubApi": {
          "id": "mHISQCA9z7yFe6Cy",
          "name": "GitHub account 70"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-001",
              "leftValue": "={{ $json.labels.map(l => l.name).join(',').toLowerCase() }}",
              "rightValue": "in progress",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-520, 300],
      "id": "node-003",
      "name": "Exclude In-Progress"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [-280, 300],
      "id": "node-004",
      "name": "Loop Over Issues"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a senior software engineer doing sprint planning.\n\nEstimate the following GitHub issue using Fibonacci story points: 1, 2, 3, 5, 8, or 13. Consider complexity, unknowns, and scope.\n\nIssue #{{ $json.number }}: {{ $json.title }}\nLabels: {{ $json.labels.map(l => l.name).join(', ') || 'none' }}\nBody: {{ ($json.body || 'No description').substring(0, 500) }}\n\nRespond ONLY with a valid JSON object — no markdown, no extra text:\n{\"number\": {{ $json.number }}, \"title\": \"{{ $json.title.replace(/\"/g, \"'\") }}\", \"labels\": {{ JSON.stringify($json.labels.map(l => l.name)) }}, \"estimate\": 3, \"rationale\": \"one sentence\"}",
        "options": {
          "systemMessage": "You are a sprint estimation assistant. Output only a single valid JSON object with keys: number, title, labels, estimate (Fibonacci integer), rationale. No markdown fences, no extra text."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [-40, 300],
      "id": "node-005",
      "name": "Estimate Issue"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gemini-3-pro-preview",
          "mode": "list",
          "cachedResultName": "gemini-3-pro-preview"
        },
        "options": {}
      },
      "type": "CUSTOM.lmChatTrimbleGateway",
      "typeVersion": 1,
      "position": [-40, 500],
      "id": "node-006",
      "name": "Trimble Gateway (Estimator)",
      "credentials": {
        "trimbleModelGatewayOAuth2Api": {
          "id": "6sC2H2Re3rOpqZn1",
          "name": "Trimble Identity account 412"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// This node receives all items from the loop's 'done' output.\n// Each item has $json.output from the AI agent (one per issue).\nconst items = $input.all();\nconst estimates = [];\n\nfor (const item of items) {\n  const raw = item.json.output || '';\n  try {\n    const cleaned = raw.replace(/```json?\\s*/gi, '').replace(/```/g, '').trim();\n    const parsed = JSON.parse(cleaned);\n    estimates.push({\n      number: parsed.number,\n      title: parsed.title,\n      labels: parsed.labels || [],\n      estimate: parsed.estimate,\n      rationale: parsed.rationale\n    });\n  } catch (e) {\n    estimates.push({\n      number: item.json.number || null,\n      title: item.json.title || 'Unknown',\n      labels: [],\n      estimate: null,\n      rationale: 'Parse failed: ' + raw.substring(0, 80)\n    });\n  }\n}\n\nreturn [{ json: { estimates } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 160],
      "id": "node-007",
      "name": "Aggregate Estimates"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-001",
              "name": "priorityNotes",
              "value": "High priority: Fix navigation accessibility bug. High priority: Add dark mode support. Medium priority: Update storybook docs. Medium priority: Improve button component API. Low priority: Refactor internal CSS variables. Low priority: Add unit tests for form components.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-1000, 600],
      "id": "node-008",
      "name": "Priority Notes Input"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Parse the following sprint planning notes into a structured priority list.\n\nNotes:\n{{ $json.priorityNotes }}\n\nRespond ONLY with valid JSON — no markdown, no extra text:\n{\"high\": [\"topic1\"], \"medium\": [\"topic2\"], \"low\": [\"topic3\"]}",
        "options": {
          "systemMessage": "You are a sprint planning assistant. Output only a single valid JSON object with keys: high, medium, low — each an array of strings. No markdown fences."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [-760, 600],
      "id": "node-009",
      "name": "Parse Priorities"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gemini-3-pro-preview",
          "mode": "list",
          "cachedResultName": "gemini-3-pro-preview"
        },
        "options": {}
      },
      "type": "CUSTOM.lmChatTrimbleGateway",
      "typeVersion": 1,
      "position": [-760, 800],
      "id": "node-010",
      "name": "Trimble Gateway (Priority)",
      "credentials": {
        "trimbleModelGatewayOAuth2Api": {
          "id": "6sC2H2Re3rOpqZn1",
          "name": "Trimble Identity account 412"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "ElishaSamPeterPrabhu",
          "mode": "list",
          "cachedResultName": "ElishaSamPeterPrabhu"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows",
          "mode": "list",
          "cachedResultName": "n8n-workflows",
          "cachedResultUrl": "https://github.com/ElishaSamPeterPrabhu/n8n-workflows"
        },
        "filePath": "team-skills.json"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [-520, 600],
      "id": "node-011",
      "name": "Read Team Skills",
      "credentials": {
        "githubApi": {
          "id": "mHISQCA9z7yFe6Cy",
          "name": "GitHub account 70"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// GitHub file node → Extract from JSON gives $json.data.team\n// Handles both: pre-parsed (via Extract from JSON) or raw base64 from GitHub API\nconst item = $input.first();\n\nlet teamSkills;\nif (item.json.data && item.json.data.team) {\n  teamSkills = item.json.data;\n} else if (item.json.content) {\n  const decoded = atob(item.json.content.replace(/\\n/g, ''));\n  teamSkills = JSON.parse(decoded);\n} else {\n  throw new Error('Team skills data not found. Expected $json.data.team or $json.content.');\n}\n\nreturn [{ json: { teamSkills } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-280, 600],
      "id": "node-012",
      "name": "Decode Team Skills"
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [440, 400],
      "id": "node-013",
      "name": "Merge All Inputs"
    },
    {
      "parameters": {
        "jsCode": "// Combine the 3 appended items into one context object for the planner agent\nconst allItems = $input.all();\n\nlet estimates = [];\nlet priorities = { high: [], medium: [], low: [] };\nlet teamSkills = { team: [] };\n\nfor (const item of allItems) {\n  if (item.json.estimates) {\n    estimates = item.json.estimates;\n  }\n  if (item.json.teamSkills) {\n    teamSkills = item.json.teamSkills;\n  }\n  // Priority agent output lands in item.json.output\n  const raw = item.json.output || '';\n  if (raw) {\n    try {\n      const cleaned = raw.replace(/```json?\\s*/gi, '').replace(/```/g, '').trim();\n      const parsed = JSON.parse(cleaned);\n      if (parsed.high !== undefined) priorities = parsed;\n    } catch (e) {}\n  }\n}\n\nreturn [{ json: { estimates, priorities, teamSkills } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 400],
      "id": "node-014",
      "name": "Prepare Planner Context"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an engineering manager creating a sprint plan.\n\n## Estimated Issues\n{{ JSON.stringify($json.estimates, null, 2) }}\n\n## Priority Rankings\n{{ JSON.stringify($json.priorities, null, 2) }}\n\n## Team Skills (1-5 per skill, speed 1-5, availability: full/partial/limited)\n{{ JSON.stringify($json.teamSkills, null, 2) }}\n\nCreate a sprint plan:\n- Assign each issue to the best team member (skill match + speed + availability)\n- Capacity: full=13pts, partial=8pts, limited=5pts\n- Prioritize high items first, defer what doesn't fit\n\nOutput structured Markdown with:\n## Sprint Goal\n## Assignments\n| Member | Issue # | Title | Estimate | Rationale |\n## Points Summary\n| Member | Assigned | Capacity | Status |\n## Deferred Issues\n| Issue # | Title | Estimate | Reason |\n## Sprint Notes",
        "options": {
          "systemMessage": "You are a sprint planning assistant. Output clean Markdown only. No JSON, no code fences around the Markdown."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [920, 400],
      "id": "node-015",
      "name": "Sprint Planner Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gemini-3-pro-preview",
          "mode": "list",
          "cachedResultName": "gemini-3-pro-preview"
        },
        "options": {}
      },
      "type": "CUSTOM.lmChatTrimbleGateway",
      "typeVersion": 1,
      "position": [920, 620],
      "id": "node-016",
      "name": "Trimble Gateway (Planner)",
      "credentials": {
        "trimbleModelGatewayOAuth2Api": {
          "id": "6sC2H2Re3rOpqZn1",
          "name": "Trimble Identity account 412"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst planMarkdown = item.json.output || 'No plan generated.';\nconst timestamp = new Date().toISOString().split('T')[0];\nreturn [{ json: { sprintPlan: `# Sprint Plan — ${timestamp}\\n\\n${planMarkdown}`, generatedAt: timestamp } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1160, 400],
      "id": "node-017",
      "name": "Format Sprint Plan"
    }
  ],
  "pinData": {},
  "connections": {
    "Start Workflow": {
      "main": [[{ "node": "Get All Open Issues", "type": "main", "index": 0 }]]
    },
    "Get All Open Issues": {
      "main": [[{ "node": "Exclude In-Progress", "type": "main", "index": 0 }]]
    },
    "Exclude In-Progress": {
      "main": [
        [{ "node": "Loop Over Issues", "type": "main", "index": 0 }],
        []
      ]
    },
    "Loop Over Issues": {
      "main": [
        [{ "node": "Estimate Issue", "type": "main", "index": 0 }],
        [{ "node": "Aggregate Estimates", "type": "main", "index": 0 }]
      ]
    },
    "Estimate Issue": {
      "main": [[{ "node": "Loop Over Issues", "type": "main", "index": 0 }]]
    },
    "Trimble Gateway (Estimator)": {
      "ai_languageModel": [[{ "node": "Estimate Issue", "type": "ai_languageModel", "index": 0 }]]
    },
    "Aggregate Estimates": {
      "main": [[{ "node": "Merge All Inputs", "type": "main", "index": 0 }]]
    },
    "Priority Notes Input": {
      "main": [[{ "node": "Parse Priorities", "type": "main", "index": 0 }]]
    },
    "Parse Priorities": {
      "main": [[{ "node": "Merge All Inputs", "type": "main", "index": 1 }]]
    },
    "Trimble Gateway (Priority)": {
      "ai_languageModel": [[{ "node": "Parse Priorities", "type": "ai_languageModel", "index": 0 }]]
    },
    "Read Team Skills": {
      "main": [[{ "node": "Decode Team Skills", "type": "main", "index": 0 }]]
    },
    "Decode Team Skills": {
      "main": [[{ "node": "Merge All Inputs", "type": "main", "index": 2 }]]
    },
    "Merge All Inputs": {
      "main": [[{ "node": "Prepare Planner Context", "type": "main", "index": 0 }]]
    },
    "Prepare Planner Context": {
      "main": [[{ "node": "Sprint Planner Agent", "type": "main", "index": 0 }]]
    },
    "Sprint Planner Agent": {
      "main": [[{ "node": "Format Sprint Plan", "type": "main", "index": 0 }]]
    },
    "Trimble Gateway (Planner)": {
      "ai_languageModel": [[{ "node": "Sprint Planner Agent", "type": "ai_languageModel", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "sprint-planning-v2-0001",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9864951ea4472b9d0ea716c66bb2527efb446aa6309ab9f74077ab1db432402b"
  },
  "id": "SprintPlanningWorkflow001",
  "tags": ["sprint", "planning", "github", "ai"]
}
