workflows/sprint-planning-workflow.json
{
  "name": "Sprint Planning",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        5840,
        2144
      ],
      "id": "b11b1034-baf8-4bae-b09c-7c4cb11f4480",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.sprintPlan }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        8688,
        2000
      ],
      "id": "42cd4bce-3f3e-4396-a2a8-235f2528af52",
      "name": "Markdown"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gemini-3-pro-preview",
          "mode": "list",
          "cachedResultName": "gemini-3-pro-preview"
        },
        "options": {}
      },
      "type": "CUSTOM.lmChatTrimbleGateway",
      "typeVersion": 1,
      "position": [
        8192,
        2224
      ],
      "id": "8806765a-76b9-430d-aad4-f70af0d0fde5",
      "name": "Trimble Gateway (Planner)",
      "credentials": {
        "trimbleModelGatewayOAuth2Api": {
          "id": "6sC2H2Re3rOpqZn1",
          "name": "Trimble Identity account 412"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst planMarkdown = item.json.output || 'No plan generated.';\nconst timestamp = new Date().toISOString().split('T')[0];\nreturn [{ json: { sprintPlan: `# Sprint Plan — ${timestamp}\\n\\n${planMarkdown}`, generatedAt: timestamp } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8464,
        2000
      ],
      "id": "0e187d50-01b5-4a9c-8321-ffdc841c7d12",
      "name": "Format Sprint Plan"
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/trimble-oss/modus-wc-2.0/issues",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "state",
              "value": "open"
            },
            {
              "name": "per_page",
              "value": "5"
            },
            {
              "name": "page",
              "value": "1"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "splitIntoItems": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6064,
        1712
      ],
      "id": "2759763f-2811-4a0f-8566-c263ed964b57",
      "name": "Get All Open Issues",
      "credentials": {
        "githubApi": {
          "id": "mHISQCA9z7yFe6Cy",
          "name": "GitHub account 70"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gemini-3-pro-preview",
          "mode": "list",
          "cachedResultName": "gemini-3-pro-preview"
        },
        "options": {}
      },
      "type": "CUSTOM.lmChatTrimbleGateway",
      "typeVersion": 1,
      "position": [
        7392,
        2080
      ],
      "id": "0c5445e0-de37-49b4-88e9-a4767f3346d1",
      "name": "Trimble Gateway (Priority)",
      "credentials": {
        "trimbleModelGatewayOAuth2Api": {
          "id": "6sC2H2Re3rOpqZn1",
          "name": "Trimble Identity account 412"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "01c598f5-efb7-4adf-96c1-f0d39c3d0df4",
              "leftValue": "={{ $json.labels.map(l => l.name).join(',').toLowerCase() }}",
              "rightValue": "untriaged",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        6288,
        1696
      ],
      "id": "09904b16-d75b-4c2c-a831-898be8339e41",
      "name": "Exclude In-Progress"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        6512,
        1712
      ],
      "id": "3530792f-f542-4215-809c-16a545e24cbf",
      "name": "Loop Over Issues"
    },
    {
      "parameters": {
        "jsCode": "// Receives all items from the loop's 'done' output.\n// Each item has $json.output from the AI agent (one per issue).\nconst items = $input.all();\nconst estimates = [];\n\nfor (const item of items) {\n  const raw = item.json.output || '';\n  try {\n    const cleaned = raw.replace(/```json?\\s*/gi, '').replace(/```/g, '').trim();\n    const parsed = JSON.parse(cleaned);\n    estimates.push({\n      number: parsed.number,\n      title: parsed.title,\n      labels: parsed.labels || [],\n      estimate: parsed.estimate,\n      rationale: parsed.rationale\n    });\n  } catch (e) {\n    estimates.push({\n      number: item.json.number || null,\n      title: item.json.title || 'Unknown',\n      labels: [],\n      estimate: null,\n      rationale: 'Parse failed: ' + raw.substring(0, 80)\n    });\n  }\n}\n\nreturn [{ json: { estimates } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6800,
        1552
      ],
      "id": "0378381d-493a-46af-abe4-040003acb299",
      "name": "Aggregate Estimates"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        7088,
        1856
      ],
      "id": "17305cdb-4595-413b-8987-9e6278b12ee5",
      "name": "Merge"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Use the priority notes from the meeting and match them with the available issues to determine their priority.\nIssues: {{ JSON.stringify($('Merge').all().map(i => ({ number: i.json.number, title: i.json.title, proposal: (i.json.body || '').match(/### Proposal\\s*\\n+([\\s\\S]*?)(?=###|$)/)?.[1]?.trim().substring(0, 400) || '', comments: i.json.comments })), null, 2) }}\n\n\nPriority Notes: {{ $('Priority Notes Input').first().json.priorityNotes }}\n",
        "options": {
          "systemMessage": "You are a sprint planning assistant. Output only a single valid JSON object with keys: high, medium, low — each an array of strings. No markdown fences."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        7312,
        1856
      ],
      "id": "cac605f0-d137-481b-81ac-b6d487d07130",
      "name": "Parse Priorities"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        7664,
        2000
      ],
      "id": "10113fe7-196b-4f3e-9062-831714ec334e",
      "name": "Merge All Inputs"
    },
    {
      "parameters": {
        "jsCode": "const raw = $('Parse Priorities').first().json.output || '';\nlet priorities = { high: [], medium: [], low: [] };\ntry {\n  const cleaned = raw.replace(/```json?\\s*/gi, '').replace(/```/g, '').trim();\n  const parsed = JSON.parse(cleaned);\n  if (parsed.high !== undefined) priorities = parsed;\n} catch(e) {}\n\nconst estimates = $('Aggregate Estimates').first().json.estimates || [];\nconst teamSkills = $('Extract from File').first().json.data || { team: [] };\n\nreturn [{ json: { estimates, priorities, teamSkills } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7888,
        2000
      ],
      "id": "360a7573-500d-4218-a492-cb49da2ea84c",
      "name": "Prepare Planner Context"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an engineering manager creating a sprint plan.\n\n## Estimated Issues\n{{ JSON.stringify($json.estimates, null, 2) }}\n\n## Priority Rankings\n{{ JSON.stringify($json.priorities, null, 2) }}\n\n## Team Skills (1-5 per skill, speed 1-5, availability: full/partial/limited)\n{{ JSON.stringify($json.teamSkills, null, 2) }}\n\nCreate a sprint plan:\n- Assign each issue to the best team member (skill match + speed + availability)\n- Capacity: full=13pts, partial=8pts, limited=5pts\n- Prioritize high items first, defer what doesn't fit\n\nOutput structured Markdown with:\n## Sprint Goal\n## Assignments\n| Member | Issue # | Title | Estimate | Rationale |\n## Points Summary\n| Member | Assigned | Capacity | Status |\n## Deferred Issues\n| Issue # | Title | Estimate | Reason |\n## Sprint Notes",
        "options": {
          "systemMessage": "You are a sprint planning assistant. Output clean Markdown only. No JSON, no code fences around the Markdown."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        8112,
        2000
      ],
      "id": "7f441e33-6da2-4b79-9afa-b9144fbe55a1",
      "name": "Sprint Planner Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gemini-3-pro-preview",
          "mode": "list",
          "cachedResultName": "gemini-3-pro-preview"
        },
        "options": {}
      },
      "type": "CUSTOM.lmChatTrimbleGateway",
      "typeVersion": 1,
      "position": [
        6816,
        1968
      ],
      "id": "fa84f764-8b29-4229-9a8d-674525c2c75a",
      "name": "Trimble Gateway (Estimator)",
      "credentials": {
        "trimbleModelGatewayOAuth2Api": {
          "id": "6sC2H2Re3rOpqZn1",
          "name": "Trimble Identity account 412"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a senior software engineer doing sprint planning.\n\nEstimate the following GitHub issue using Fibonacci story points: 1, 2, 3, 5, 8, or 13. Consider complexity, unknowns, and scope.\n\nIssue #{{ $json.number }}: {{ $json.title }}\nLabels: {{ $json.labels.map(l => l.name).join(', ') || 'none' }}\nBody: {{ ($json.body || 'No description').substring(0, 500) }}\n\nRespond ONLY with a valid JSON object — no markdown, no extra text:\n{\"number\": {{ $json.number }}, \"title\": \"{{ $json.title.replace(/\"/g, \"'\") }}\", \"labels\": {{ JSON.stringify($json.labels.map(l => l.name)) }}, \"estimate\": 3, \"rationale\": \"one sentence\"}",
        "options": {
          "systemMessage": "You are a sprint estimation assistant. Output only a single valid JSON object with keys: number, title, labels, estimate (Fibonacci integer), rationale. No markdown fences, no extra text."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        6736,
        1744
      ],
      "id": "9ab4e067-6a46-49f9-b967-d343548d5c4f",
      "name": "Estimate Issue"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-001",
              "name": "priorityNotes",
              "value": "Sprint planning notes from today's meeting:\\n\\nWe agreed that the content tree work is our top priority this sprint. There are actually two separate issues about it — one is a feature suggestion with full details about CRUD operations, contextual menus, drag and drop, and lazy loading, and the other seems to be the actual implementation ticket for the same thing. Both are complex so whoever picks them up needs to sync daily to avoid doing duplicate work.\\n\\nThe logo theming refactor is also high priority because dark mode cannot move forward until we consolidate the theme files. Eve flagged this as a direct blocker for her dark mode work so we want it done early in the sprint.\\n\\nOnce the logo refactor is done, adding the new logos is a straightforward follow-on — just adding SVG assets. Medium priority, depends on the logo refactor.\\n\\nRemoving the background pattern from the side nav and nav bar is a quick cleanup with no dependencies. Medium priority, should be a fast win for whoever has spare capacity.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6800,
        2144
      ],
      "id": "bc4f17fc-2a53-4600-9522-59ff11e008c7",
      "name": "Priority Notes Input"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "ElishaSamPeterPrabhu",
          "mode": "list",
          "cachedResultName": "ElishaSamPeterPrabhu"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows",
          "mode": "list",
          "cachedResultName": "n8n-workflows",
          "cachedResultUrl": "https://github.com/ElishaSamPeterPrabhu/n8n-workflows"
        },
        "filePath": "team-skills.json",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        7088,
        2368
      ],
      "id": "9e1b650c-93f3-4749-8a9b-b8cd9cc9f6ff",
      "name": "Read Team Skills",
      "webhookId": "c5eed4f6-7b12-4153-ac7f-406f87411256",
      "credentials": {
        "githubApi": {
          "id": "mHISQCA9z7yFe6Cy",
          "name": "GitHub account 70"
        }
      }
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        7376,
        2368
      ],
      "id": "b4371f81-cbdb-4e7b-8dab-80defe98756b",
      "name": "Extract from File"
    }
  ],
  "pinData": {
    "Markdown": [
      {
        "json": {
          "sprintPlan": "# Sprint Plan — 2026-03-09\n\n## Sprint Goal\n**Backlog Grooming & Planning**: Due to missing team availability and unestimated issues, the primary goal is to refine the backlog and establish team capacity for the next iteration.\n\n## Assignments\n| Member | Issue # | Title | Estimate | Rationale |\n|---|---|---|---|---|\n| *None* | *N/A* | *No assignments created* | *0* | *No team members provided.* |\n\n## Points Summary\n| Member | Assigned | Capacity | Status |\n|---|---|---|---|\n| **Total** | **0** | **0** | **0% Load** |\n\n## Deferred Issues\n| Issue # | Title | Estimate | Reason |\n|---|---|---|---|\n| 900 | Suggest a new feature Content tree enhancements | TBD | No team members available to assign; Issue lacks a valid estimate. |\n\n## Sprint Notes\n- **Missing Team Data**: No team members were defined in the input, making assignment impossible.\n- **Estimation Required**: Issue #900 resulted in a parse failure regarding its estimate. It requires refinement/poker planning before it can be included in a sprint.\n- **Prioritization**: No priority rankings were provided. Issue #900 should be categorized (High/Medium/Low) during the next grooming session.",
          "generatedAt": "2026-03-09",
          "data": "<h1 id=\"sprintplan20260309\">Sprint Plan — 2026-03-09</h1>\n<h2 id=\"sprintgoal\">Sprint Goal</h2>\n<p><strong>Backlog Grooming & Planning</strong>: Due to missing team availability and unestimated issues, the primary goal is to refine the backlog and establish team capacity for the next iteration.</p>\n<h2 id=\"assignments\">Assignments</h2>\n<p>| Member | Issue # | Title | Estimate | Rationale |\n|---|---|---|---|---|\n| <em>None</em> | <em>N/A</em> | <em>No assignments created</em> | <em>0</em> | <em>No team members provided.</em> |</p>\n<h2 id=\"pointssummary\">Points Summary</h2>\n<p>| Member | Assigned | Capacity | Status |\n|---|---|---|---|\n| <strong>Total</strong> | <strong>0</strong> | <strong>0</strong> | <strong>0% Load</strong> |</p>\n<h2 id=\"deferredissues\">Deferred Issues</h2>\n<p>| Issue # | Title | Estimate | Reason |\n|---|---|---|---|\n| 900 | Suggest a new feature Content tree enhancements | TBD | No team members available to assign; Issue lacks a valid estimate. |</p>\n<h2 id=\"sprintnotes\">Sprint Notes</h2>\n<ul>\n<li><strong>Missing Team Data</strong>: No team members were defined in the input, making assignment impossible.</li>\n<li><strong>Estimation Required</strong>: Issue #900 resulted in a parse failure regarding its estimate. It requires refinement/poker planning before it can be included in a sprint.</li>\n<li><strong>Prioritization</strong>: No priority rankings were provided. Issue #900 should be categorized (High/Medium/Low) during the next grooming session.</li>\n</ul>"
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get All Open Issues",
            "type": "main",
            "index": 0
          },
          {
            "node": "Priority Notes Input",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Team Skills",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trimble Gateway (Planner)": {
      "ai_languageModel": [
        [
          {
            "node": "Sprint Planner Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Format Sprint Plan": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Open Issues": {
      "main": [
        [
          {
            "node": "Exclude In-Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trimble Gateway (Priority)": {
      "ai_languageModel": [
        [
          {
            "node": "Parse Priorities",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Exclude In-Progress": {
      "main": [
        [
          {
            "node": "Loop Over Issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Issues": {
      "main": [
        [
          {
            "node": "Aggregate Estimates",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Estimate Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Estimates": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Parse Priorities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Priorities": {
      "main": [
        [
          {
            "node": "Merge All Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Inputs": {
      "main": [
        [
          {
            "node": "Prepare Planner Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Planner Context": {
      "main": [
        [
          {
            "node": "Sprint Planner Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sprint Planner Agent": {
      "main": [
        [
          {
            "node": "Format Sprint Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trimble Gateway (Estimator)": {
      "ai_languageModel": [
        [
          {
            "node": "Estimate Issue",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Estimate Issue": {
      "main": [
        [
          {
            "node": "Loop Over Issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Priority Notes Input": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Read Team Skills": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Merge All Inputs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ba501ca0-42dd-4059-a9f1-6aadd3fd5277",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9864951ea4472b9d0ea716c66bb2527efb446aa6309ab9f74077ab1db432402b"
  },
  "id": "RdlsTj9SxwlMvKjS",
  "tags": []
}